.chat-p {
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 20px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
}

.chat-p:before,
.chat-p:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
}

/* send variable - replace using tailwind

.send {
  color: var(--send-color);
  background: var(--send-bg);
}
.send:before {
  background-color: var(--send-bg);
}
  .send:after {
  background-color: var(--page-background);
}

*/

.send:before {
  right: -7px;
  width: 20px;
  border-bottom-left-radius: 16px 14px;
}

.send:after {
  right: -26px;
  width: 26px;
  border-bottom-left-radius: 10px;
}

/* receive variable - replace using tailwind

.receive {
  color: var(--receive-color);
  background: var(--receive-bg);
}
.receive:before {
  background-color: var(--receive-bg);
}
.receive:after {
  background-color: var(--page-background);
 } 

*/

.receive:before {
  left: -7px;
  width: 20px;
  border-bottom-right-radius: 16px 14px;
}

.receive:after {
  left: -26px;
  width: 26px;
  border-bottom-right-radius: 10px;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
