@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 305 12% 95%;
    --foreground: 305 5% 10%;
    --card: 305 12% 94%;
    --card-foreground: 305 5% 15%;
    --popover: 305 12% 95%;
    --popover-foreground: 305 95% 10%;
    --primary: 305 100% 78%;
    --primary-foreground: 0 0% 0%;
    --secondary: 305 12% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 267 12% 94%;
    --muted-foreground: 305 5% 40%;
    --accent: 267 12% 90%;
    --accent-foreground: 305 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 305 5% 94%;
    --border: 240 5.9% 90%;
    --input: 305 20% 50%;
    --ring: 305 100% 78%;
    --radius: 1rem;
  }
  .dark {
    --background: 330 10% 5%;
    --foreground: 330 5% 90%;
    --card: 330 0% 5%;
    --card-foreground: 330 0% 90%;
    --popover: 330 10% 5%;
    --popover-foreground: 330 5% 90%;
    --primary: 330 100% 85%;
    --primary-foreground: 0 0% 0%;
    --secondary: 330 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 292 10% 15%;
    --muted-foreground: 330 5% 60%;
    --accent: 292 10% 15%;
    --accent-foreground: 330 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 330 5% 90%;
    --border: 240 3.7% 15.9%;
    --input: 330 20% 18%;
    --ring: 330 100% 76%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
