@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import './utils.css';

body {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Syne-Extrabold';
  src: url('/fonts/Syne-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Galyon Bold';
  src: url('/fonts/Galyon-Bold.woff2') format('woff2');
}

@layer components {
  .contain {
    @apply mx-auto w-[90%] max-w-screen-xl text-sm md:text-base 2xl:w-full;
  }

  .btn {
    @apply rounded-md px-6 py-3 text-sm font-medium transition-colors md:text-base;
  }

  .primary-btn {
    @apply from-primary-100 to-primary-200 btn bg-gradient-to-b text-white hover:bg-gradient-to-br;
  }

  .secondary-btn {
    @apply dark:bg-secondary-100 hover:dark:bg-secondary-100/80 btn border-2 border-[#b2b2b6] bg-gray-300 hover:bg-gray-400 dark:border-[#505059];
  }

  .red-btn {
    @apply btn bg-red-500 hover:bg-red-500/80;
  }

  .h1-text {
    @apply text-[clamp(1.4rem,7vw,2.3rem)] font-extrabold  leading-[2rem] sm:text-4xl md:text-5xl 2xl:text-6xl;
  }

  .card {
    @apply dark:border-secondary-100 dark:bg-secondary-200 rounded-lg border-2 border-gray-400 bg-gray-300;
  }

  .input-field {
    @apply dark:bg-secondary-100 flex w-full items-center space-x-2 rounded-md bg-gray-200 px-5 py-3;
  }

  .input-field input {
    @apply dark:bg-secondary-100 w-full bg-gray-200 outline-none;
  }

  .input-field svg {
    @apply text-xl text-gray-400 dark:text-[#9CA3AF];
  }

  .menu-item {
    @apply dark:hover:bg-secondary-100 flex cursor-pointer items-center space-x-2 rounded p-3 text-sm transition-colors hover:bg-gray-400;
  }

  .reply {
    @apply border-l-secondary-400 text-secondary-400 border-l-4 pl-4;
  }

  .line {
    @apply dark:bg-secondary-100 h-[2px] bg-gray-400;
  }

  .msg-card {
    @apply dark:border-secondary-100 dark:bg-secondary-200 rounded-2xl  border-2 border-gray-400 bg-gray-300 py-5 px-7;
  }

  .settings-label {
    @apply text-secondary-400 mb-2 flex items-center space-x-1 text-sm font-medium;
  }

  .settings-input {
    @apply dark:bg-secondary-100 w-full rounded-md bg-gray-200 px-5 py-3 outline-none;
  }

  .chat-send {
    @apply after:dark:bg-secondary-200 bg-tigris before:bg-tigris self-end after:bg-gray-200;
  }

  .chat-receive {
    @apply after:dark:bg-secondary-200 dark:bg-secondary-100 before:dark:bg-secondary-100 self-start bg-gray-400 before:bg-gray-400 after:bg-gray-200;
  }

  .chat-content {
    @apply inline-block max-w-[255px] px-5 py-4 text-base text-white;
  }

  .clue-btn {
    @apply dark:bg-secondary-100 dark:hover:bg-secondary-100/80 w-full rounded-full border-2 bg-gray-300 p-4 font-medium hover:bg-gray-400;
  }

  .text-gradient {
    @apply from-primary-100 to-primary-200 bg-gradient-to-b bg-clip-text text-transparent;
  }

  .bg-gradient {
    @apply from-primary-100 to-primary-200 bg-gradient-to-b;
  }
}
