name: CI

on:
  - push:
      branches:
        - "**"
  - pull_request:
      branches:
        - main

jobs:
  build:
    uses: ./.github/workflows/setup.yml
    with:
      node-version: 20
      pnpm-version: 9.5.0

    steps:
      - name: Build project
        env:
          TURSO_CONNECTION_URL: ${{ secrets.TURSO_CONNECTION_URL }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: pnpm build

  graphql-diagnostics:
    need: build
    uses: ./.github/workflows/setup.yml
    with:
      node-version: 20
      pnpm-version: 9.5.0

    steps:
      - name: Run GraphQL diagnostics
        run: pnpm gql:check
